{% extends 'Base/Home.html' %}

{% load static %}

{% block title %} All Places {% endblock %}
<link rel ="stylesheet" href="{% static 'styles.css' %}">
  {% block content %}

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
<section id="about-section" class="pt-5 pb-5">
<div class="container ">
	<div class="red">
	<div class="row">
		<div class="col-lg-6 align-items-center justify-content-left d-flex mb-5 mb-lg-0">
			<div class="blockabout">
				<div class="blockabout-inner text-center text-sm-start">
					<div id="formContent" >
					
						  <div class="form-row">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Place Name</th>
                      <th scope="col">Location</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for places in place %}
                    <tr>
                        <td><a href="{% url 'users:information_and_reserve' user.id%}">{{ places.place_name }} </a></td>
                        <td><a href="{% url 'users:information_and_reserve' user.adderss.id}">{{ places.address }}</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
				</div>
			</div>
		   
		</div>
		
	</div>
	
</div>
  </div>
  </div></div>
</section><br><br><br>
<style type="text/css">
  .table {
      margin: 0 auto;
      width: 120%;
      margin-left: 200px;
      text-align: center;
      border-style:double;
  }
  </style>

  {% endblock %}




