{% extends 'Base/Home.html' %}
{% block title %} Manage {% endblock %}


{% block content %}
<h2 style="text-align:center ; font-family: Verdana, Geneva, Tahoma, sans-serif;"> All Information About users Reservation</h2> <br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Day</th>
        <th scope="col">Time </th>
        <th scope="col">Number of Parking</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <tbody>
          {% for all_reservation in users_reservation %}
          <tr>
              <th scope="row"><a href="">{{ all_reservation.user.first_name }}</a></th>
              <td>{{ all_reservation.user.username }}</td>
              <td>{{ all_reservation.user.profile.phone_number }}</td>
              <td>{{ all_reservation.day}}</td>
              <td>From: {{ all_reservation.start_time  }} To: {{ all_reservation.end_time  }}</td>
              <td>{{ all_reservation.parking_reserve }}</td>
    
              </td>
          </tr>
          {% endfor %}
    
      </tbody>
      </table>
      <style type="text/css">
        .table {
            margin: 0 auto;
            width: 90%;
            margin-left: 70px;
            text-align: center;
            border-style:double;
        }
        </style><br><br><br><br><br><br>
{% endblock %}