{% extends 'Base/Home.html' %}
{% block title %} Manage {% endblock %}


{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Day</th>
        <th scope="col">Time</th>
        <th scope="col">Number of Parking</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <tbody>
          {% for all_reservation in users_reservation %}
          <tr>
              <th scope="row"><a href="">{{ all_reservation.user.first_name }}</a></th>
              <td>{{ all_reservation.user.username }}</td>
              <td>{{ all_reservation.phone_number }}</td>
              <td>{{ all_reservation.day}}</td>
              <td>{{ all_reservation.time }}</td>
              <td>{{ all_reservation.parking_reserve }}</td>
              <td><button type="button" class="btn btn-outline-secondary"> <a href="{% url 'users:delete_reservation' all_reservation.user.id  %}"> Delete </button></td>
    
              </td>
          </tr>
          {% endfor %}
    
      </tbody>
      </table>
      
{% endblock %}